button {
    margin-left: 150px;
    border-radius: 30px;
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 35px;
    background-color: white;
}

* {
    background-color: rgb(255, 90, 95);
}

h1 {
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 4.688rem;
}
p{
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
}

label {
    font-family: "DM Sans", sans-serif;
}
.logo {
    position: relative;
    right: 1325px;
    bottom: 375px;
}
.name{
    background-color: white;
}
.age{
    background-color: white;
}
.interests{
    background-color: white;
}
.submit{
    background-color: white;
    font-family: "DM Sans", sans-serif;
    border-radius: 10px;
    font-size: 50px;
}