body {
    background-color: rgb(255, 199, 196);
    margin: 0px;
}

button {
    margin-left: 250px;
    border-radius: 30px;
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 35px;
    background-color: white;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    height: 100px;
}

h1 {
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 4.688rem;
}

p{
    font-family: "DM Sans", sans-serif;
    font-size: 1.875rem;
}

.chat{
    font-size: 3.125rem;
    font-family: "Alumni Sans SC", sans-serif;
}

.logo {
    position: relative;
    right: 620px;
    bottom:650px;
}

