body {
    margin: 0px;
    background-color: rgb(255, 199, 196);
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    height: 100px;
}

p{
    font-family: "DM Sans", sans-serif;
    font-size: 1.875rem;
}


.link-btn {
    margin-left: 2vw;
    border-radius: 1em;
    font-family: "DM Sans", sans-serif;
    font-size: 35px;
    background-color: transparent;
    padding: 0.3em 5.5em;
    outline: none; /* Removes the black outline */
    border: none; /* Removes any border if present */
}


button {
    margin-left: 275px;
    border-radius: 30px;
    font-family: "DM Sans", sans-serif;
    font-size: 35px;
    background-color: white;
    outline: none; /* Removes the black outline */
    border: none; /* Removes any border if present */
}


h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 4.688rem;
}


.story-card {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem; /* Add spacing between image and text */
}

.story-card.right-align {
    flex-direction: row-reverse; /* For right-aligned cards */
    margin-right: 50px;
    text-align: left
}

.story-image {
    width: 400px; /* Increase image width */
    height: auto; /* Maintain aspect ratio */
    margin-left: 50px; /* margin for left side of page */
}

.story-image.right-align{
    margin-left: 0;
}

.story-text {
    flex: 1; /* Make the text take up the remaining space */
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem; /* Adjust font size to be proportional */
    line-height: 1.8; /* Improve readability */
    margin-right: 40px;
}

.story-text.right-align {
    margin-left: 50px; /* Remove right margin for right-aligned cards */
    margin-right: 0;
}

.footer {
    background-color: rgb(255, 199, 196); /* Match the page background or use a custom color */
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    color: black;
}
.credit {
    text-align: center;
    font-size: 1.0rem;
}

.logo {
    top: 0px;
    left: 0px;
    width: 75px; 
    margin: 10px;
}

.Title{
    margin-left: 25px;
    font-size: 3.5rem;
}

