.home-menu-items {
    margin-left: 1300px;
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 35px;
}

* {
    background-color: rgb(255, 90, 95);
}

h1 {
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 4.688rem;
}
p{
    font-family: "DM Sans", sans-serif;
    font-size: 1.875rem;
}
.chat{
    font-size: 3.125rem;
    font-family: "Alumni Sans SC", sans-serif;
}
.logo {
    position: relative;
    right: 500px;
    bottom:600px;
}

